<%- include('../partials/header') %>

<div class="container mt-4">
  <h2>Delete Account</h2>

  <div class="alert alert-danger mt-3">
      <h4 class="alert-heading">Warning!</h4>
      <p>Are you absolutely sure you want to delete your account? This action is irreversible. All your created jobs and applications will be removed.</p>
      <hr>
      <form method="POST" action="/auth/delete-account" onsubmit="return confirm('This is your final confirmation. Delete account permanently?');">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn btn-danger" type="submit">Yes, Delete My Account Permanently</button>
        <a href="/settings" class="btn btn-secondary ms-2">Cancel</a>
      </form>
  </div>


</div>

<%- include('../partials/footer') %>